<div class="container">
    <div class="container-header">
        <h2>Create Account</h2>
    </div>
    <div class="forms">
        <div class="inps">
            <div class="inps-grp">
                <input type="text" name="firstname" autocomplete="off" id="firstname" required>
                <label for="name">First Name</label>
            </div>
            <div class="inps-grp">
                <input type="text" name="lastname" autocomplete="off" id="lastname" required>
                <label for="name">Last Name</label>
            </div>
            <div class="inps-grp">
                <input type="number" name="number" autocomplete="off" id="age" required>
                <label for="name">Age</label>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button>GET STARTED</button>
    </div>
</div>