<div class="container">
    <div class="headline">
        <img src="assets/images/back.png">
        <h4>Hyderabad</h4>
    </div>
    <div class="news-block">
        <h6>State : {{state}}</h6>
        <h4>Total Cases: {{totalcases}}</h4>
        <h4>Cases: {{totalcases_state}}</h4>
        <h4>Deaths: {{totaldeaths_state}}</h4>
    </div>
    <h4>Regional News</h4>
    <div class="news-block">
        <div class="left-block">
            <img src="assets/images/sunny.png">
        </div>
        <div class="right-block">
            <h4>Headline</h4>
            <h5>Some text</h5>
            <p>Thu</p>
        </div>
    </div>
    <div class="news-block">
        <div class="left-block">
            <img src="assets/images/sunny.png">
        </div>
        <div class="right-block">
            <h4>Headline</h4>
            <h5>Some text</h5>
            <p>Thu</p>
        </div>
    </div>
    <div class="news-block">
        <div class="left-block">
            <img src="assets/images/sunny.png">
        </div>
        <div class="right-block">
            <h4>Headline</h4>
            <h5>Some text</h5>
            <p>Thu</p>
        </div>
    </div>

</div>