.otp fieldset, .otp input {
    border: none;
    float: left;
  }
  .otp input {
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    border-bottom: 2px solid #999;
    text-align: center;
    font-size: 26px;
  }