<div class="container">
    <div class="hero-image">
      <div>

        <img src="assets/images/verify.png">
      </div>
    </div>
    <div class="headline">
        <h4>Verify</h4>
        <p>Please enter the otp send to your mobile number</p>
    </div>
    <form class="otp" autocomplete="off" novalidate name="otp">
        <fieldset>
          <input maxlength="1" name="one" [(ngModel)]="otp.one" (keyup)="keytab($event)"/>
          <input maxlength="1" name="two" [(ngModel)]="otp.two" (keyup)="keytab($event)"/>
          <input maxlength="1" name="three" [(ngModel)]="otp.three" (keyup)="keytab($event)"/>
          <input maxlength="1" name="four" [(ngModel)]="otp.four" (keyup)="keytab($event)"/>
          <input maxlength="1" name="five" [(ngModel)]="otp.five" (keyup)="keytab($event)"/>
          <input maxlength="1" name="six" [(ngModel)]="otp.six"/>
        </fieldset>
      </form>
    <div class="button-container">
        <button (click)="submit()">SIGN IN</button>
    </div>
  
</div>


<!-- 
using jquery to fill in otp

  $('.otp input').on('keyup change', function(){
  $t = $(this);
  if ($t.val().length > 0) {
    $t.next().focus();
  }
});
 -->