<div class="container">
  <div class="content1">
    <div class="login-text">
      <img src="assets/images/verify.png">
      <h4 class="text-head">Verify</h4>
      <p>Please enter the otp send to your mobile number</p>
    </div>
    <div class="forms">
      <form class="otp" autocomplete="off" novalidate name="otp">
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="one" [(ngModel)]="otp.one" required (keyup)="keytab($event, 1)"
              [(ngModel)]="phone">
          </div>
        </div>
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="two" [(ngModel)]="otp.two" required (keyup)="keytab($event, 2)"
              [(ngModel)]="phone">
          </div>
        </div>
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="three" [(ngModel)]="otp.three" required (keyup)="keytab($event, 3)"
              [(ngModel)]="phone">
          </div>
        </div>
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="four" [(ngModel)]="otp.four" required (keyup)="keytab($event, 4)"
              [(ngModel)]="phone">
          </div>
        </div>
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="five" [(ngModel)]="otp.five" required (keyup)="keytab($event, 5)"
              [(ngModel)]="phone">
          </div>
        </div>
        <div class="inps">
          <div class="inps-grp">
            <input maxlength="1" type="number" name="six" [(ngModel)]="otp.six" required [(ngModel)]="phone">
          </div>
        </div>

      </form>
      <div class="button-container">
        <button (click)="submit()">SIGN IN</button>
      </div>
    </div>
  </div>
</div>