.container {
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-header {
  margin: -10px;
}
.forms {
  padding: 20px;
  margin: 0;
  z-index: 99999;
  /* margin-top: 25%; */
}


.forms .inps .inps-grp {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
}

input[type="search"]::placeholder {
  color: #ccc;
  background: none;
}

agm-map { height: 100%; }