<div class="container">
    <div class="container-header">
        <h2>ONE MORE STEP</h2>
    </div>
    

        <div class="forms">
            <div class="inps">
                <div class="inps-grp">
                    <input type="search" name="search" autocomplete="off" placeholder="Locate Store"id="search" required >
                    
                </div>
            </div>
        </div>
        <div class="button-container">
            <button>CREATE</button>
        </div>
    
</div>