<div class="container">
    <div class="container-header">
        <h2>Create Store</h2>
    </div>
    <form autocomplete="off" name="userform" method="post" #formCtrl="ngForm" (ngSubmit)="create()">
        <div class="forms">
            <div class="inps">
                <div class="inps-grp">
                    <input type="text" name="storename" autocomplete="off" required [(ngModel)]="store.name">
                    <label for="name">Store Name</label>
                </div>
                <div class="inps-grp">
                    <input type="text" name="storetype" autocomplete="off" required [(ngModel)]="store.type">
                    <label for="name">Store Type</label>
                </div>
                <div class="inps-grp">
                    <input type="time" name="openingtime" autocomplete="off" required [(ngModel)]="store.opening">
                    <label for="name">Opening Time</label>
                </div>
                <div class="inps-grp">
                    <input type="time" name="closingtime" autocomplete="off" required [(ngModel)]="store.closing">
                    <label for="name">Closing Time</label>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button>CREATE</button>
        </div>
    </form>
</div>