<div class="container">
    <div class="container-header">
        <h2>Create Account</h2>
    </div>
    <div class="forms">
        <div class="inps">
            <div class="inps-grp">
                <input type="text" name="storename" autocomplete="off" id="store" required>
                <label for="name">Store Name</label>
            </div>
            <div class="inps-grp">
                <input type="text" name="storetype" autocomplete="off" id="store" required>
                <label for="name">Store Type</label>
            </div>
            <div class="inps-grp">
                <input type="time" name="openingtime" autocomplete="off" id="store" required>
                <label for="name">Opening Time</label>
            </div>
            <div class="inps-grp">
                <input type="time" name="closingtime" autocomplete="off" id="store" required>
                <label for="name">Closing Time</label>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button>CREATE</button>
    </div>
</div>