<div class="container">
    <div class="headline">
        <div class="time">{{time | date:'hh:mm a'}}</div>
        <img src="assets/images/Info.png" (click)="logout()">
    </div>
    <div class="category-block">
        <h4>What are you looking for?</h4>
        <div class="options">
            <div class="button">
                <img src="assets/images/medical.png">
                <p>Medical</p>
            </div>
            <div class="button">
                <img src="assets/images/groceries.png">
                <p>Groceries</p>
            </div>
            <div class="button">
                <img src="assets/images/news.png">
                <p>News</p>
            </div>
            <div class="button">
                <img src="assets/images/emergency.png">
                <p>Emergency</p>
            </div>
        </div>
    </div>

    <div class="weather">

        <img src="{{icon}}" width="60" height="58">
        <div class="weather-report">
            <p>{{descriptionWeather}}</p>
            <p>{{city}}</p>
        </div>
        <p class="degree"> {{temp}}</p>
    </div>

    <div class="live-updates">
        <p>Live Updates</p>
        <img src="assets/images/next.png">
    </div>

    <div class="assist-block">
        <h4>Do you want to serve the community?</h4>
        <div class="button">
            <a href="">CREATE STORE</a>
        </div>
    </div>

    <div class="near-you">
        <div class="left-block">
            <h6>Near you</h6>
            <h4>5 new cases</h4>
            <h4>10 new recoveries</h4>
            <h4>10 new deaths</h4>
        </div>
        <img src="assets/images/corona.png">

    </div>
</div>