<div class="container">
    <agm-map [latitude]="userlat" [streetViewControl]="false" [longitude]="userlng" mapTypeId="roadmap" [zoom]="12" >
        <agm-marker *ngFor="let places of stores" latitude="{{places.lat}}" longitude="{{places.lng}}">
            <agm-info-window [disableAutoPan]="true" isOpen="true">
                {{places.store_name}}
            </agm-info-window>
        </agm-marker>
    </agm-map>
    <div class="enclosing-container">

        <div class="bottom-container">
            <div class="bottom-horizontal-scroll">
                <div class="blocks" *ngFor="let places of stores">
                    <h4 class="store-name">{{places.store_name}}</h4>
                    <button (click)="call(places.authyid)">CAll</button>
                    <button (click)="sms(places.store_id)">SMS</button>
                    <p class="last"><a href="mailto: ncov2019@gmail.com" style="text-decoration: none; color: white;">Report a problem</a></p>
                </div>
                
            </div>
        </div>
        <div class="busy-button">
            <button (click)="back()">Go Back</button>
        </div>
    </div>
</div>