<div class="container">
    <div class="hero-image">
        <img src="">
    </div>
    <div class="headline">
        <h4></h4>
        <p></p>
    </div>
    <div class="forms">
        <div class="inps">
            <div class="inps-grp">
                <input type="number" name="number" autocomplete="off" id="phone" required>
                <label for="name">Enter Mobile Number</label>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button>Next</button>
    </div>
    <div class="terms-info">
        <p>By clicking 'NEXT' you agree to our terms and conditions.</p>
    </div>

</div>