<div class="container">
    <div class="content1">
        <div class="login-text">
            <img src="assets/images/auth.png">
            <h4 class="text-head">Welcome,</h4>
            <p>Sign in to continue</p>
        </div>
        <div class="forms">
            <form autocomplete="off" name="userform" method="post" #formCtrl="ngForm" (ngSubmit)="login()">
                <div class="forms">
                    <div class="inps">
                        <div class="inps-grp">
                            <input type="tel" name="number" autocomplete="off" placeholder="0123456789"id="phone" required [(ngModel)]="phone">
                            <label for="name">Enter Mobile Number</label>
                        </div>
                    </div>
                </div>

            </form>
            <div class="button-container">


                <button (click)="login()">Next</button>

            </div>
            <div class="forgot-agree">
                <p>By clicking 'NEXT' you agree to our terms and conditions.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="message-block">
    <h3>This website is only accesible on Mobile and on Potrait orientation</h3>
</div>