<div class="container">
    <!-- <agm-map></agm-map> -->
    <div class="enclosing-container">

        <div class="bottom-container">
            <div class="bottom-horizontal-scroll">
                <div class="blocks">
                    <h4 class="store-name">Srivastav</h4>
                    <p>location</p>
                    <p class="last"> 30 mins ago</p>
                </div>
                <div class="blocks">
                    <h4 class="store-name">Srivastav</h4>
                    <p>location</p>
                    <p class="last"> 30 mins ago</p>
                </div>
                <div class="blocks">
                    <h4 class="store-name">Srivastav</h4>
                    <p>Location</p>
                    <p class="last"> 30 mins ago</p>
                </div>
            </div>
        </div>
        <div class="busy-button">
            <button>Go Back</button>
        </div>
    </div>
</div>